<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      Connect
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="getBondedDevices($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <p *ngIf="message">
      <ion-spinner name="bubbles" color="secondary" *ngIf="!connectionError"></ion-spinner>
      <ion-icon name="alert" color="danger" *ngIf="connectionError"></ion-icon>
      {{ message }}
  </p>
  <h4> Select device to connect </h4>
  <ion-list>
    <ion-item *ngFor="let device of bondedDevices"
     (click)="connectToDevice(device.address)">
      <p>
        {{ device.address }}      {{ device.name }}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
