$dark: color($colors, 'dark');
$slider-bg: lighten($dark, 8);

page-color-chooser {

    .content {
        background-color: $dark;

        h4 {
            text-align: center;
            color : gray;
        }

        .lightbulbContainer {
            text-align: center;
            font-size: 5rem;
            width: 100%;
            height: 7rem;
        }

        .item, .range{
            background-color: $slider-bg;
            padding: 0.3rem;
            border-radius: 5px;

            .item-inner {
                border: none;
            }
        }

        .white {
            color: ivory;
        }

        .red {
            color: red;
        }
        .green {
            color: green;
        }
        .blue {
            color: blue;
        }

        .sendButton {
            background-color: $slider-bg;
            height: 5rem;

            &:hover {
                background-color: lighten($slider-bg, 15);
            }
        }
    }
}
